.nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #181719;
}

.nav ul {
    list-style: none;
    overflow: hidden;
}

.nav-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav .menu {
    display: block;
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav-icon::before {
    background: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.nav-icon::after {
    background: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked ~ .menu {
    max-height: 100vh;
    height: 100vh;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media only screen and (min-width: 768px) {
    .nav {
        background-color: transparent;
    }
    .nav li {
        float: left;
    }
    .nav li a {
        padding: 20px 30px;
    }
    .nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .nav .menu-icon {
        display: none;
    }
}